body{

  background-color:#E0FFFF;

}
/* .container{
  margin: auto;
  width: 92%;
  height: 500px;
  background-color: #ADD8E6	;
  border: 2px solid #333;

} */

/* .row{

  margin-top: 60px;
  margin-left: 230px;
  width: 83%;
  height: 400px;


}
.container > .row > .stats{
  width: 150px;
  height: 250px;
  background-color: white;
  display: inline;
  margin-left:  50px;
  float: left;


}

.top{
  height: 60px;
  width: 600px;

  margin: auto;
  background-color:salmon;

}

.container > .row > .game-field{
  width: 340px;
  height: 340px;
  float: left;
  background-color:#9ACD32;
  border: 5px;
  margin-left: 40px;
  margin-right: 40px;


}

ul > li {
  list-style-type: none;
  margin-right: 40px;
  height: 25px;
  text-decoration: none;

}

ul > li > a{
  text-decoration: none;
  color: #000

}

.shot-field{
  width: 48px;
  height: 48px;
  position: relative;
  border-color: black;
  background-color:#00FF7F;
  margin-left: 7px;
  margin-top: 7px;
  float: left;
  display: center;

} */

.mycss-main{
  background-image: linear-gradient(to right ,plum,violet) !important;

}
.mycss-logo{
  display: block;
  border: solid 1px;
  border-radius: 100%;
  padding: 10px 10px;

}
.myclass-logo > img {
  max-width: 48px;
  max-height:  48px;
}
.mycss-raised{
    margin-top: 90px !important;
    background-image: url("../img/war.jpg") !important;
    background-position:top !important;
    background-repeat: no-repeat !important;

    z-index: +1;

}
